In [11]:
import requests as rq
import os
import gzip
import pandas as pd

In [12]:
script_location = os.path.dirname(os.path.abspath("__file__"))
data_location = script_location + '/data/'

In [13]:
url_prefix = 'https://datasets.imdbws.com/'
imdb_file_list = ['title.akas.tsv.gz', 'title.basics.tsv.gz', 'title.ratings.tsv.gz']

for name in imdb_file_list:
    if not os.path.exists(data_location + name):
        response = rq.get(url_prefix + name, allow_redirects=True)
        open(data_location + name, 'wb').write(response.content)
        with gzip.open(data_location + name) as comp_file, open(data_location + name[:-3], 'wb') as reg_file:
            file_content = comp_file.read()
            reg_file.write(file_content)

In [14]:
title_akas = pd.read_csv('./data/title.akas.tsv', '\t')

In [15]:
title_basics = pd.read_csv('./data/title.basics.tsv', '\t')

In [16]:
title_ratings = pd.read_csv('./data/title.ratings.tsv', '\t')

In [17]:
title_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [18]:
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [19]:
title_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1660
1  tt0000002            6.1       203
2  tt0000003            6.5      1371
3  tt0000004            6.2       123
4  tt0000005            6.2      2159

In [20]:
title_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24108823 entries, 0 to 24108822
Data columns (total 8 columns):
titleId            object
ordering           int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtypes: int64(1), object(7)
memory usage: 1.4+ GB